@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  color: #918ca4;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 10px 10px 10px transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(154, 154, 156);
  border-radius: 10px;
  border-bottom-left-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 255, 0.5);
}

/* ***************** Mobile menu ************************** */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  /* top: 20px; */
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.header.active {
  background-color: rgba(96, 112, 255, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  height: 2000px;
}

.hamburger-menu {
  width: 25px;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.nav-list {
  display: none;
}

.nav-list.active {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.list-item {
  display: none;
  padding: 10px 0;
}

.list-item.active {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

.list-item a {
  color: #fff;
  font-weight: 500;
}

.list-item a:hover {
  color: #344563;
  font-weight: 600;
}

.bright-mode {
  width: 30px;
  display: none;
}

.bright-mode.active {
  display: block;
  filter: invert(1);
}

.night-mode {
  width: 25px;
  display: block;
}

.night-mode.active {
  display: none;
}

.brand.active {
  display: none;
}

.name {
  font-weight: bold;
  color: #1b0760;
  font-size: 2.5rem;
}

/* ***************** Header top Introduction * ***************** */
main {
  padding-top: 50px;
}

.top-body {
  display: grid;
  gap: 10px;
  padding: 0 0 10px;
  box-shadow: 1px 1px 2px rgb(148, 145, 145);
  border-bottom-left-radius: 50px;

}

p {
  color: #918ca4;
}

.social-handler {
  grid-row: 1;
}

.avatar {
  grid-row: 1;
  text-align: center;
}

.social-list {
  list-style-type: none;
  padding: 10px;
  display: block;
  margin-left: 20%;
}

.social-item {
  display: flex;
  padding: 5px 10px;
}

.social-item img:hover {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.myphoto {
  width: 230px;
  border-radius: 0 50% 50% 50%;
  margin-right: 20px;
}

.intro {
  grid-column: 1/ span 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 10px;
}

.primary-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #1b0760;
  padding: 1rem 0 10px;
}

.primary-text-desk {
  display: none;
}

.paragraph {
  color: #918ca4;
  line-height: 24px;
  font-weight: 500;
  font-size: 2rem;
  width: 95%;
}

.direct {
  text-decoration: none;
  text-align: center;
  color: #1b0760;
  font-weight: 500;
  font-size: 2rem;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 0.6rem;
  display: inline-block;
  margin: 1.5rem auto 2rem;
  width: 140px;
  height: 48px;
  animation: wiggle 2s linear infinite;
}

.direct:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px #4053fc3d;
  color: #fff;
  border-color: #fff;
}

.direct:active {
  background: #2230d2;
  color: #fff;
}

.direct .link {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #396df2;
}

.direct .link:hover {
  color: #fff;
}

@media only screen and (min-width: 730px) {
  /****************** Desktop navigation bar ************************** */
  .hamburger-menu {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    align-items: center;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }

  .list-item {
    padding: 0 20px;
    display: block;
  }

  .list-item a {
    color: blue;
    font-size: 1.7rem;
  }

  .brand {
    margin-left: 50px;
  }

  .name {
    font-size: 2.8rem;
  }

  /* ***************** Header top Introduction * ***************** */

  .top-body {
    display: grid;
    width: 100%;
    box-shadow: 1px 1px 2px rgb(148, 145, 145);
    border-bottom-left-radius: 35%;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    margin: 10rem 0 2rem;
  }

  .social-handler {
    margin-top: 6rem;
    margin-left: 50px;
  }

  .primary-text {
    display: none;
  }

  .primary-text-desk {
    display: block;
    font-size: 4.8rem;
    margin-bottom: 3rem;
    line-height: 60px;
    color: #1b0760;
    height: 122px;
    letter-spacing: 0.37px;
  }

  .intro {
    line-height: 28px;
    font-size: 20px;
    margin: 12px 0;
    width: 88%;
    grid-area: c;
    align-items: center;
    flex: none;
  }

  .paragraph {
    width: 60%;
    font-weight: normal;
  }

  .direct {
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    color: #1b0760;
    font-weight: 500;
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 0.6rem;
    display: inline-block;
    margin: 1.5rem 0 2rem;
    width: 140px;
    height: 48px;
    animation: wiggle 2s linear infinite;
  }
}
