@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Roboto:wght@100;300;400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 20px;
  box-shadow: inset 10px 10px 10px transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(210, 210, 240);
  border-radius: 10px;
  border-bottom-left-radius: 15px;
}

/* ***************** Mobile menu ************************** */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header.active {
  background-color: rgba(96, 112, 255, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  height: 2000px;
}

.hamburger-menu {
  width: 25px;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.nav-list {
  display: none;
}

.nav-list.active {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.list-item {
  display: none;
  padding: 10px 0;
}

.list-item.active {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

.list-item a {
  color: #fff;
  font-weight: 500;
}

.list-item a:hover {
  color: #344563;
  font-weight: 600;
}

.bright-mode {
  width: 30px;
  display: none;
}

.bright-mode.active {
  display: block;
}

.night-mode {
  width: 25px;
  display: block;
}

.night-mode.active {
  display: none;
}

.brand.active {
  display: none;
}

.name {
  font-weight: bold;
  color: blue;
  font-size: 1.3rem;
}

/* ***************** Header top Introduction * ***************** */
main {
  padding-top: 50px;
}

.top-body {
  display: grid;
  gap: 10px;
  padding: 0 0 10px;
}

.social-handler {
  grid-row: 1;
}

.avatar {
  grid-row: 1;
  text-align: center;
}

.social-list {
  list-style-type: none;
  padding: 10px;
  display: block;
  margin-left: 20%;
}

.social-item {
  display: flex;
  padding: 5px;
}

.social-item img:hover {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.myphoto {
  width: 230px;
  border-radius: 0 50% 50% 50%;
  margin-right: 20px;
}

.intro {
  grid-column: 1/ span 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 10px;
}

.primary-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 1rem 0 10px;
}

.primary-text-desk {
  display: none;
}

.paragraph {
  color: #344563;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  width: 95%;
}

@media only screen and (min-width: 730px) {
  /****************** Desktop navigation bar ************************** */
  .hamburger-menu {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    align-items: center;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }

  .list-item {
    padding: 0 20px;
    display: block;
  }

  .list-item a {
    color: blue;
  }

  .brand {
    margin-left: 50px;
  }

  .name {
    font-size: 1.5rem;
  }

  /* ***************** Header top Introduction * ***************** */

  .top-body {
    display: grid;
    width: 100%;
  }

  .social-handler {
    margin-left: 50px;
  }

  .primary-text {
    display: none;
  }

  .primary-text-desk {
    display: block;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    height: 122px;
    letter-spacing: 0.37px;
  }

  .intro {
    line-height: 28px;
    font-size: 20px;
    margin: 12px 0;
    width: 88%;
    grid-area: c;
    align-items: center;
    flex: none;
  }

  .paragraph {
    width: 60%;
  }
}
