#projects {
  padding: 50px 10px;
}

#projects h2 {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

#projects h3 {
  font-size: 30px;
  line-height: 42px;
  color: #172b4d;
  margin-bottom: 5px;
}

.project-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.project-list {
  padding: 10px;
  list-style-type: none;
  /* background-color: red; */
  border: 1px solid;
  border-radius: 15px;
}

.technologies-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  width: 60%;
}

.tech-item {
  padding: 5px 0;
}

.tech-item span {
  display: inline-block;
  margin-top: 8px;
  padding: 0.2rem 0.3rem;
  background-color: #6070ff;
  border-radius: 12px;
}

.see-project {
  text-decoration: none;
  font-family: 'Montserrat';
  border: 1px solid #6070ff;
  border-radius: 10px;
  padding: 0.6em;
  display: inline-block;
  margin: 15px 0;
}

.see-project:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px #4053fc3d;
}

.see-project:active {
  background: #2230d2;
  color: #fff;
}

.see-project a:hover {
  color: #fff;
}

.see-project a {
  font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #396df2;
}

.project-container button {
  /* border: none; */
  outline: none;
  /* background: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  /* padding: 1rem; */
}

button .arrow {
  border: solid #2230d2;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

.project-list {
  margin-top: 10px;
  display: block;
  z-index: 999;
}

.project-list img {
  width: 100%;
}

.project-item {
  display: none;
}

.project-item.active {
  display: block;
}