@import './components/styles/variables';

.translation {
  padding-top: 1rem;

  button {
    outline-color: 0 solid $color-body;
    border: 0 solid $color-body;
    color: $color-medium;
    margin: 0 5px;
    background-color: transparent;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }

  span {
    font-size: 1.5rem;
  }
}
