@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "../src/components/styles/variables";
@import "../src/components/styles/navbar";
@import "../src/components/styles/hero";
@import "../src/components/styles/about";
// @import "../src//components/styles/projectCaroussel";
@import "../src/components/styles/project";
@import "../src/components//styles/contact";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  color: $color-headings;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
